body {
  background-color: pink;
  background: radial-gradient(crimson, lightpink);
  background-image: url("heart-pattern.png");
}
.App {
  text-align: center;
  padding: 100px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
}

.header {
  overflow: hidden;
}

.intro-text { 
  font-size: 22px;
  width: 70%;
  margin: auto;
  background: linear-gradient(to bottom, rgba(255, 79, 79, 0.6), rgba(60, 210, 252, 0.6));
  border-radius: 10px;
}

input {
  background: linear-gradient(to bottom, rgba(255, 79, 79, 0.6), rgba(0, 0, 0, 0));
  border: 3px black double;
  border-radius: 10px;
  height: 25px;
  width: 175px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.names {
  width: 370px;
  text-align: center;
  font-size: 23px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
 
.calculateButton {
  text-align: center;
  background-color: rgba(142, 224, 49, 0.8);
  border: 2px black solid;
  border-radius: 10px;
  height: 41px;
  width: 130px;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Comic Sans MS';
  margin: 37px 0px;
 }

.calculateButton:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.compatScore {
  font-size: 90px;
  font-weight: bold;
  animation-name: opacity;
  animation-duration: 3s;
 }

 @keyframes opacity {
  from {font-size: 0;}
  to {font-size: 80px;}
}

 .quoteButton {
  height: 35px;
  /* background-color: rgba(60, 210, 252, 0.6); */
  background: linear-gradient(to top, rgba(60, 210, 252, 0.8), rgba(0, 0, 0, 0));
  width: 300px;
  border: 2px black solid;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
 }

 .quoteButton:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

 .quote {
   font-size: 25px;
 }

 .displayCompat {
   border: 3px black double;
   border-radius: 10px;
   font-size: 20px;
   width: 30vw;
   margin: auto auto 40px;
   background: linear-gradient(to bottom, rgba(255, 79, 79, 0.6), rgba(60, 210, 252, 0.6));
 }

h4 {
  margin: 25px 10px 8px 10px;
}